*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body
{
  height: 100%;
  width: 100%;
}
.nav
{
  height: 85px;
  width: 100%;
  background-color: red;
  font-size: 1.1vw;
  font-weight: 600;
  
}
.navContentBox ul
{
  list-style-type: none;
}
.navContentBox ul li
{
  display: inline;
  margin-left: 39px;
}
.navContentBox input
{
  margin-left: 50px;
  width: 200px;
  height: 33px;
}
